<table class="table table-hover table-condensed">
  <thead>
    <tr>
      {{#each h in header}}
      <td>{{h}}</td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each row in data}}
    <tr>
      {{#each elt in row}}
      <td {{bind-attr style=elt.style}}>
        {{#bootstrap-popover title="" dataContent=elt.html}}
        {{elt.value}}
        {{/bootstrap-popover}}
      </td>
    {{/each}}
    </tr>
    {{/each}}
</table>
