<div class="input-group input-group-sm">
  <span class="input-group-addon">
    <label>Label coordinates</label>
    {{input type="checkbox" name="fog" checked=shouldLabel}}
  </span>

  <span class="input-group-addon">
    <label>Fog</label>
    {{input type="checkbox" name="fog" checked=fog}}
  </span>
</div>
