<div class="error-pane">
  <div class="error-title">
    Something went wrong.
  </div>
  <div class="error-message">
    This message will be more informative in the future. Maybe some data is missing?
  </div>
</div>
