html, body {
}

body {
  font: 10px sans-serif;
}

.nav {
  font-size: 12pt;
}

.bootstrap-popover {
    cursor: pointer;
}

canvas {
  display: block;
  margin: 0 auto 0 auto;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
    font: 9px sans-serif;
}

.selected_site {
  fill: #000000;
  stroke: black;
  stroke-opacity: 1.0;
  stroke-width: 0.5px;
  fill-opacity :0.5;
}

._nab_cells {
    color : #000;
}

.bar {
  fill: steelblue;
  stroke-width: 0px;
}

.bar:hover {
  stroke: black;
  stroke-width: 1px;
}

.barlabel {
    font: 10px sans-serif;
    fill: black;
    text-anchor: start;
}

.pngs {
    background-color: rgba(0,0,0,0.1);
}

.seq-head {
    font: 14px monospace;
}

.seq-prop {
    font: 10px monospace;
}

.sequence-viewer {
    font: 12px monospace;
}

.sequence-viewer tr td{
    text-align: right;
}

.nostretch {
    width:1%;
    white-space:nowrap;
}

.seq-predef {
    cursor: pointer;
}

.select-cell {
    width: 12px;
}

._evo_area {
  fill: steelblue;
}

._pos_dS {
  fill: #2E66FF;
}

._pos_dN {
  fill: #FFB314;
}

._evo_legend {
    font: 12px sans-serif;
}

._evo_line {
  fill: none;
  stroke: red;
  stroke-width: 4px;
}

._evo_symbol {
  fill: #EEEEEE;
  stroke: black;
  stroke-opacity: 1.0;
  stroke-width: 1.5px;
  fill-opacity :1.0;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.branch {
  fill: none;
  stroke-width: 1px;
}

.aaA {
    color: #1f77b4;
}
.aaC {
    color: #aec7e8;
}
.aaD {
    color: #ff7f0e;
}
.aaE {
    color: #ffbb78;
}
.aaF {
    color: #2ca02c;
}
.aaG {
    color: #98df8a;
}
.aaH {
    color: #d62728;
}
.aaI {
    color: #ff9896;
}
.aaK {
    color: #9467bd;
}
.aaL {
    color: #c5b0d5;
}
.aaM {
    color: #8c564b;
}
.aaN {
    color: #c49c94;
}
.aaP {
    color: #e377c2;
}
.aaQ {
    color: #f7b6d2;
}
.aaR {
    color: #7f7f7f;
}
.aaS {
    color: #c7c7c7;
}
.aaT {
    color: #bcbd22;
}
.aaV {
    color: #dbdb8d;
}
.aaW {
    color: #17becf;
}
.aaY {
    color: #9edae5;
}
