<div class="row">
  <div class="col-md-12 pull-right">
    <div class="input-group input-group-sm">
      {{input type="text" class="form-control" value=pattern
      classNameBindings="patternClass"
      placeholder="Names to highlight" autofocus="autofocus"
      }}
      <span class="input-group-addon"
            title="Interpolate colors by date">
        Interpolate colors
        {{input type="checkbox" checked=rankColors}}
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-12' id='_mds_viewer'>
    {{mds-viewer
      data=model.mds
      copynumbers=model.copynumbers
      nameToNodeLabel=seqIdToNodeName
      nameToNodeColor=seqIdToNodeColor
      nameToMotifColor=seqIdToMotifColor
      nameToMotif=model.sequences.idToMotif
      legendLabels=sortedVisitCodes
      legendColors=colorScaleVisitCode
      highlightedNodes=highlightedNodes
    }}
  </div>
</div>
