<div class="row">
  <div class="col-md-12 pull-right">
    <div class="input-group input-group-sm">
      {{input type="text"
	class="form-control mds-input"
	id="mds-input"
	value=pattern
	classNameBindings="patternClass"
	placeholder="Names to highlight"
	autofocus="autofocus"
      }}
      <span class="input-group-addon"
            id="mds-interpolate"
            title="Interpolate colors by date">
        Interpolate colors
        {{input type="checkbox" checked=rankColors}}
      </span>
      <span class="input-group-addon"
            id="mds-motif"
            title="Color by motif">
        Color by motif
        {{input type="checkbox" checked=colorByMotif}}
      </span>

    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-12' id='_mds_viewer'>
    {{mds-viewer
      data=model.sequences.observed
      nameToNodeLabel=seqNameToNodeName
      nameToNodeColor=selectedColorMap
      nameToMotifColor=seqNameToMotifColor
      nameToMotif=model.sequences.nameToMotif
      legendLabels=model.dates.sortedVisitCodes
      legendColors=colorScaleVisitCode
      highlightedNodes=highlightedNodes
    }}
  </div>
</div>
