<table class="table table-hover table-condensed">
  <thead>
    <tr>
      {{#each header as |h|}}
	<td>{{h}}</td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data as |row|}}
      <tr>
	{{#each row as |elt|}}
	  <td style="{{elt.style}}">
            {{#bootstrap-popover title="" dataContent=elt.html}}
              {{elt.value}}
            {{/bootstrap-popover}}
	  </td>
	{{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
