<div class='container-fluid' id='allofit'>
  <ul class="nav nav-tabs">
    {{#if enableOtherRoutes}}
      <li>{{#link-to 'session.mds' model.session_id data-toggle="tab"}}MDS{{/link-to}}</li>
      <li>{{#link-to 'session.trajectory' model.session_id data-toggle="tab"}}Evolutionary trajectory{{/link-to}}</li>
    {{/if}}
    <li>{{#link-to 'session.protein' model.session_id data-toggle="tab"}}Protein{{/link-to}}</li>
    <li>{{#link-to 'session.sequences' model.session_id data-toggle="tab"}}Sequences{{/link-to}}</li>
    {{#if enableOtherRoutes}}
      <li>{{#link-to 'session.trees' model.session_id data-toggle="tab"}}Trees{{/link-to}}</li>
    {{/if}}
  </ul>

{{outlet}}

</div>
