<div class='container' id='allofit'>
  <ul class="nav nav-tabs">
    <li><a href="#evo" data-toggle="tab">Evolutionary trajectory</a></li>
    <li><a href="#pos" data-toggle="tab">Gene-wide information</a></li>
    <li><a href="#seq" data-toggle="tab">Amino-acid sequences</a></li>
    <li><a href="#trees" data-toggle="tab">Trees</a></li>
    <li><a href="#neutralization" data-toggle="tab">Neutralization</a></li>
  </ul>

{{outlet}}

</div>
