<div class='container' id='allofit'>
  <ul class="nav nav-tabs">
    <li>{{#link-to 'trajectory' data-toggle="tab"}}Evolutionary trajectory{{/link-to}}</li>
    <li>{{#link-to 'gene' data-toggle="tab"}}Gene-wide information{{/link-to}}</li>
    <li>{{#link-to 'sequences' data-toggle="tab"}}Amino-acid sequences{{/link-to}}</li>
    <li>{{#link-to 'trees' data-toggle="tab"}}Trees{{/link-to}}</li>
    <li>{{#link-to 'neutralization' data-toggle="tab"}}Neutralization{{/link-to}}</li>
  </ul>

{{outlet}}

</div>
