<h3>Amino Acid Sequences</h3>

<div id="seq">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#_select_aa_display" class="fill-div">
            Select Sequences
          </a>
        </h5>
      </div>

      <div id="_select_aa_display" class="panel-collapse collapse">
        <div class="panel-body">
FILTER WIDGET HERE
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#_main_aa_display" class="fill-div">
            Display Sequences <span class = 'badge' id = '_seq_selected_count'></span>
          </a>
        </h5>
      </div>

      <div id="_main_aa_display" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class = "row">
            <div class = "col-md-12">
SEQUENCE VIEWER HERE
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
