<div id="seq">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#_select_aa_display" class="fill-div">
            Select Sequences
          </a>
        </h5>
      </div>

      <div id="_select_aa_display" class="panel-collapse collapse">
        <div class="panel-body">
        {{filter-widget content=content name="Sequence Selector" selected=selectedSequences
               displayName="id"}}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#_main_aa_display" class="fill-div">
            Display Sequences <span class='badge'>{{selectedSequences.length}}</span>
          </a>
        </h5>
      </div>

      <div id="_main_aa_display" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="alert alert-info help" role = "alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span></button>
            You can display the amino-acid sequences of clones, grouped by time,
            and restricted to a particular HXB2 coordinate range. Sites matching
            the most frequent earliest timepoint clone are shown as '.', and
            potential N-linked glycosylation sites are displayed with shaded backgrounds.
            Click on the count of clones matching a particular subsequence to display the list of clone IDs.
            Hover over a particular coordinate to show its evolution over time in a separate plot.
          </div>

          <div class = "row">
            <div class = "col-md-12">
              {{#sequence-range-controls rangeStart=rangeStart rangeStop=rangeStop minCoord=minCoord maxCoord=maxCoord}}
              <span class="input-group-addon">
                Mark positively selected sites
                {{input type="checkbox" name="markPositive" checked=markPositive}}
              </span>
              {{/sequence-range-controls}}
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-12">
              {{sequence-viewer inputSequences=displaySequences rangeStart=rangeStart rangeStop=rangeStop mrca=mrca}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
